@model tl2_tp10_2023_adanSmith01.ViewModels.TableroUsuariosViewModel

@{ViewData["title"]="Actualizar tablero";}

<h1 class="text-center">Actualizar tablero</h1>

<section>
    <article>
        <form asp-controller = "Tablero" asp-action="ActualizarTablero" method="post" class="form-view">
            <input hidden asp-for="@Model.Tablero.Id">
            <section class="mb-3">
                <label asp-for="@Model.Tablero.Nombre" class="form-label"></label>
                <input asp-for = "@Model.Tablero.Nombre" value="@Model.Tablero.Nombre" class="form-control">
                <span asp-validation-for="@Model.Tablero.Nombre" class="text-danger"></span>
            </section>
            <section class="mb-3">
                <label asp-for="@Model.Tablero.Descripcion" class="form-label"></label>
                <input asp-for = "@Model.Tablero.Descripcion" value="@Model.Tablero.Descripcion" class="form-control">
            </section>
            <section class="mb-3">
                <label asp-for="@Model.Tablero.IdUsuarioPropietario"></label>
                <select asp-for="@Model.Tablero.IdUsuarioPropietario" class="form-select">
                    <option value="">-Seleccione-</option>
                    @foreach(var usuario in Model.Usuarios){
                        <option value="@usuario.Id">@usuario.Nombre</option>
                    }
                </select>
                <span asp-validation-for="@Model.Tablero.IdUsuarioPropietario" class="text-danger"></span>
            </section>
            <input hidden asp-for="@Model.Usuarios">
            <input type="submit" class="btn btn-outline-success" value="Confirmar">
        </form>
    </article>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }