@model List<Tablero>

<section>
    <h2>Tableros</h2>
    @if(@Model.Count == 0)
    {
        <p><strong>NO HAY TABLEROS REGISTRADOS</strong></p>
    } else{
        <a asp-controller="Tablero" asp-action="CrearTablero">+ Crear tablero</a>
        <table>
            <thead>
                <tr>
                    <th hidden>Id</th>
                    <th hidden>Id usuario propietario</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Crear</th>
                    <th>Modificacion</th>
                    <th>Borrado</th>
                    <th>Tareas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tablero in Model)
                {
                    <tr>
                        <td hidden>@tablero.Id</td>
                        <td hidden>@tablero.IdUsuarioPropietario</td>
                        <td>@tablero.Nombre</td>
                        <td>@tablero.Descripcion</td>
                        <td>
                            <a asp-controller="Tarea" asp-action="CrearTarea" asp-route-idTablero = "@tablero.Id">Añadir tarea</a>
                        </td>
                        <td>
                            <a asp-controller="Tablero" asp-action="ActualizarTablero" asp-route-idTablero = "@tablero.Id">Modificar</a>
                        </td>
                        <td>
                            <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero = "@tablero.Id">Eliminar</a>
                        </td>
                        <td>
                            <a asp-controller="Tarea" asp-action="ListarTareasTablero" asp-route-idTablero = "@tablero.Id">Ver</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</section>