@model tl2_tp10_2023_adanSmith01.ViewModels.ListaTablerosUsuarioViewModel

@{
    ViewData["title"] = "Tableros";
}

<h1 class="text-center">
    Tableros
</h1>

<section>
    @if(Model.MostrarIdUsuario)
    {
        if(Model.UsuarioPropietario != null){<a asp-controller="Tablero" asp-action="CrearTablero" asp-route-idUsuario="@Model.UsuarioPropietario.Id" class="btn btn-outline-success btn-add">+ A単adir tablero</a>}
    }else
    {
        if(Model.UsuarioPropietario != null){<a asp-controller="Tablero" asp-action="CrearTablero" class="btn btn-outline-success btn-add">+ A単adir tablero</a>}
    }
    @if(Model.TablerosPropios.Count <= 0){
        <article>
            <h2>NO HAY TABLEROS REGISTRADOS</h2>
        </article>
    }else{
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    @if(Model.UsuarioPropietario == null){<th scope="col">Propietario/a</th>}
                    @if(Model.HacerABMTablero){<th scope="col" colspan="4">Operaciones</th>}
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach(var tablero in Model.TablerosPropios)
                {
                    <tr>
                        <td>@tablero.Nombre</td>
                        @if(string.IsNullOrEmpty(tablero.Descripcion))
                        {
                            <td>Sin descripcion</td>
                        }else
                        {
                            <td>@tablero.Descripcion</td>
                        }
                        @if(Model.UsuariosPropietarios.Count > 0 && Model.UsuarioPropietario == null)
                        {
                            @foreach(var usuario in Model.UsuariosPropietarios)
                            {
                                if(usuario.Id == tablero.IdUsuarioPropietario)
                                {
                                    <td>@usuario.Nombre</td>
                                    break;
                                }
                            }
                        }
                        @if(Model.HacerABMTablero)
                        {

                            <td>
                                <a asp-controller="Tarea" asp-action="CrearTarea" asp-route-idTablero = "@tablero.Id" class="btn btn-outline-success">+ A単adir tarea</a>
                            </td>
                            <td>
                                <a asp-controller="Tablero" asp-action="ActualizarTablero" asp-route-idTablero = "@tablero.Id" class="btn btn-outline-info">Modificar
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero = "@tablero.Id" class="btn btn-outline-danger" onclick="return confirm('多Estas seguro de eliminar el tablero seleccionado?')">Eliminar
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Tarea" asp-action="ListarTareas" asp-route-idTablero = "@tablero.Id" class="btn btn-outline-dark">Ver
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</section>


@if(Model.TablerosConYSinTareasAsignadas.Count > 0)
{
    <section>
        <h2>Tableros compartidos con tareas asignadas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Propietario/a</th>
                    <th scope="col">Tareas</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                @foreach(var tablero in Model.TablerosConYSinTareasAsignadas)
                    {
                        <td>@tablero.Nombre</td>
                        @if(string.IsNullOrEmpty(tablero.Descripcion))
                        {
                            <td>Sin descripcion</td>
                        }else
                        {
                            <td>@tablero.Descripcion</td>
                        }
                        @foreach(var usuario in Model.UsuariosPropietarios)
                        {
                            if(usuario.Id == tablero.IdUsuarioPropietario)
                            {
                                <td>@usuario.Nombre</td>
                                break;
                            }
                        }
                        <td>
                            <a>Enlace</a>
                        </td>
                    }
            </tbody>
        </table>
    </section>
}
