@model tl2_tp10_2023_adanSmith01.ViewModels.TareaTableroUsuariosViewModel

@{ViewData["title"]="Crear tarea";}

<section>
    <form asp-controller="Tarea" asp-action="CrearTarea" asp-route-idTablero="@Model.IdTablero" method="post" class="form-crear-actualizar" onsubmit="getColor()">
        <h1 class="title-form">Crear tarea</h1>
        <section class="mb-3">
            <label asp-for="@Model.Tarea.Nombre" class="form-label"></label>
            <input asp-for="@Model.Tarea.Nombre" class="form-control">
            <span asp-validation-for="@Model.Tarea.Nombre" class="text-danger"></span>
        </section>
        <section class="mb-3">
            <label asp-for="@Model.Tarea.Descripcion" class="form-label"></label>
            @Html.TextAreaFor(Model => Model.Tarea.Descripcion, new { @class = "form-control" })
        </section>
        <section class="mb-3">
            <label asp-for="@Model.Tarea.Color" class="form-label"></label>
            <input type="color" id="colorTarea" class="form-control">
            <input hidden asp-for="@Model.Tarea.Color" id="Color">
            <span asp-validation-for="@Model.Tarea.Color" class="text-danger"></span>
        </section>
        <section class="mb-3">
            <label asp-for="@Model.Tarea.Estado" class="form-label"></label>
            <input asp-for ="@Model.Tarea.Estado" class="form-control" disabled>
        </section>
        <section class="mb-3">
            <label asp-for="@Model.Tarea.IdUsuarioAsignado" class="form-label">Asignar usuario</label>
            <select asp-for="@Model.Tarea.IdUsuarioAsignado" class="form-select">
                <option value="">Ninguno</option>
                @foreach(var usuario in Model.Usuarios){
                    <option value="@usuario.Id">@usuario.Nombre</option>
                }
            </select>
        </section>
        <input hidden asp-for="@Model.IdTablero">
        <input hidden asp-for="@Model.Usuarios">
        <input type="submit" value="Confirmar" class="btn btn-outline-success">
    </form>
</section>

@section Scripts { <partial name="_ValidationScriptsPartial" /> }

<script src="../js/site.js"></script>