@model tl2_tp10_2023_adanSmith01.ViewModels.ListaTareasAsignadasYNoAsignadasViewModel

@{ViewData["title"]="Tareas del usuario";}

<h1 class="text-center title-view">
    Tareas del tablero "@Model.TableroCTA.Nombre"
</h1>

<section class="tablero">
    
    @foreach(var tareasPorEstado in Model.TareasAsignadasYNoAsignadas)
    {
        <section class="estado-tarea" id="@tareasPorEstado.Key">
            <div>
                <h2>
                    @tareasPorEstado.Key.ToString()
                </h2>
            </div>
            @foreach(var tarea in tareasPorEstado.Value)
            {
                if(Convert.ToInt32(tarea.Color[1..], 16) >= Convert.ToInt32("e0e0e0", 16) && Convert.ToInt32(tarea.Color[1..], 16) <= Convert.ToInt32("ffffff", 16))
                {
                    <button style="background-color:@tarea.Color; color: black;" type="button" data-bs-toggle="modal" data-bs-target="#infoTarea-@tarea.Id">@tarea.Nombre</button>
                }
                else
                {
                    <button style="background-color:@tarea.Color"type="button" data-bs-toggle="modal" data-bs-target="#infoTarea-@tarea.Id">@tarea.Nombre</button>
                }
            }
        </section>
        @foreach(var tarea in tareasPorEstado.Value)
        {
            <div class="modal" id="infoTarea-@tarea.Id" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                    <p class="modal-title"><strong>Información de la tarea</strong></p>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <article class="modal-body">
                                <p><strong>Nombre: </strong>@tarea.Nombre</p>
                                <p><strong>Descripción: </strong>@tarea.Descripcion</p>
                                @if(tarea.IdUsuarioAsignado == null)
                                {
                                    <p>Esta tarea no está asignada a ningún usuario</p>
                                }else{
                                    <p><strong>Asignada a: </strong>@Model.UsuarioAsignado.Nombre (@Model.UsuarioAsignado.Rol)</p>
                                }
                            </article>
                            <section class="modal-footer">
                                <form asp-controller="Tarea" asp-action="ActualizarEstado" method="post">
                                    <select for="estadoTarea" class="form-select">
                                        @foreach(var estado in (EstadoTarea[])Enum.GetValues(typeof(EstadoTarea)))
                                        {
                                            if(tarea.Estado == estado){
                                                <option value="@estado" selected="selected">@estado.ToString()</option>
                                            }else{
                                                <option value="@estado">@estado.ToString()</option>
                                            }
                                        }
                                    </select>
                                    <input hidden name="idTarea" value="@tarea.Id">
                                    <input type="submit" value="Actualizar">
                                </form>
                            </section> 
                        </div>
                    </div>
                </div>
        }
    }
    
</section>