@model tl2_tp10_2023_adanSmith01.ViewModels.ListaTareasTableroViewModel

@{ViewData["title"]="Tareas del usuario";}

<h1 class="text-center">
    Tareas del tablero "@Model.Tablero.Nombre"
</h1>

<section>
    @if(!Model.Tareas.Any())
    {
        <article>
            <h2>NO HAY TAREAS REGISTRADAS PARA ESTE TABLERO</h2>
        </article>
    }else
    {
        <article>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Color</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario asignado</th>
                        <th scope="col" colspan="2">Operaciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @foreach(var tarea in Model.Tareas){
                        <tr>
                            <td>@tarea.Nombre</td>

                            @if(String.IsNullOrEmpty(tarea.Descripcion)){
                                <td>Sin descripcion</td>
                            }else{
                                <td>@tarea.Descripcion</td>
                            }

                            @if(String.IsNullOrEmpty(tarea.Color)){
                                <td style="background-color: ffffff;"></td>
                            }else{
                                <td style="background-color:@tarea.Color;"></td>
                            }

                            <td>@tarea.Estado.ToString()</td>

                            @if(tarea.IdUsuarioAsignado == null){
                                <td>N/A</td>
                            }else{
                                @foreach(var usuario in Model.Usuarios){
                                    if(usuario.Id == tarea.IdUsuarioAsignado){
                                        <td>@usuario.Nombre</td>
                                        break;
                                    }
                                }
                            }

                            @if(Model.PermisoBM)
                            {
                                <td>
                                    <a asp-controller="Tarea" asp-action="ActualizarTarea" asp-route-idTarea = "@tarea.Id" class="btn btn-outline-info">Modificar
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                    </a>
                                </td>

                                <td>
                                    <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea = "@tarea.Id" class="btn btn-outline-danger" onclick="return confirm('¿Estas seguro de eliminar la tarea seleccionada?')">Eliminar
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                        </svg>
                                    </a>
                                </td>
                            }else if(Model.PermisoModificarEstado)
                            {
                                @if(tarea.IdUsuarioAsignado != null)
                                {
                                    <td>
                                        <form asp-controller="Tarea" asp-action="ActualizarEstado" method="post">
                                            <select name="estadoNuevo" asp-items = "@Html.GetEnumSelectList<EstadoTarea>()">
                                            </select>
                                            <input hidden name="idTarea" value="@tarea.Id">
                                            <input type="submit" value="Modificar estado">
                                        </form>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </article>
    }
</section>