@model List<Tarea>

    <section>
        <h2>Tareas</h2>

        @if(Model.Count > 0){
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Color</th>
                        <th>Estado</th>
                        <th>Id usuario asignado</th>
                        <th>Modificacion</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var tarea in Model)
                    {
                        <tr>
                            <td hidden>@tarea.Id</td>
                            <td>@tarea.Nombre</td>
                            <td>@tarea.Descripcion</td>
                            <td>@tarea.Color</td>
                            <td>@tarea.Estado.ToString()</td>
                            @if(tarea.IdUsuarioAsignado != null){
                                <td>@tarea.IdUsuarioAsignado</td>
                            }else{
                                <td>N/A</td>
                            }
                            <td>
                                <a asp-controller="Tarea" asp-action="ActualizarTarea" asp-route-idTarea="@tarea.Id">Actualizar</a>
                            </td>
                            <td>
                                <a asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
        } else{
            <p><strong>No hay tareas registradas para este tablero</strong></p>
        }
    </section>